<ul class="nav nav-tabs nav-fill">
    <li class="nav-item" [class.active]="viewMode == 'email'"><a class="nav-link"  (click)="viewMode = 'email'">Two way binding & pipes</a></li>
    <li class="nav-item" [class.active]="viewMode == 'authors'"><a class="nav-link" (click)="viewMode = 'authors'">Directives & services</a></li>
    <li class="nav-item" [class.active]="viewMode == 'pipes'"><a class="nav-link" (click)="viewMode = 'pipes'">More pipes & property binding</a></li>
    <li class="nav-item" [class.active]="viewMode == 'like'"><a class="nav-link" (click)="viewMode = 'like'">Passing data w/ inputs & outputs</a></li>
</ul>

<div [ngSwitch]="viewMode">

<app-email-input *ngSwitchCase="'email'"></app-email-input>

<app-author-list *ngSwitchCase="'authors'"></app-author-list>

<app-pipes-example *ngSwitchCase="'pipes'"></app-pipes-example>

<like *ngSwitchCase="'like'" 
    [likesCount]="tweet.likesCount"
    [isLiked]="tweet.isLiked">
</like>

</div>
